/*Links*/
a {
  color: #648880;
  text-decoration: none;
}
a:hover {
  color: #a9b2b9;
}

p a {
  border-bottom: 1px solid #dfe2e5;
}

.divider{
    width:90%;
}
body{
    margin:0px;
}
/*=======================
HEADER
========================*/
.primary-header{
    padding:10px;
}

.logo-container{
    display: inline-block;  
}
.star-logo{
    float:left;
    display:flex;
    margin:20px;
}

.star-logo img{
    width:3em;
    height:3em;
}

.hotel-name{
    line-height: 16px;
}

.top-nav{
    float: right;
    padding:20px;
}

.top-nav a{
    padding:15px;
    display:inline-block;
    font-family: cursive;
}

.top-nav a:link{
}

.top-nav a:active{
    border: solid 1px cadetblue;
    color:black;
    background:cadetblue;
    border-radius:10px;
}

/*=====================
SECTIONs
======================*/
/*----------------------
HOME PAGE
----------------------*/
.hero-container {
  color: #fff;
  line-height: 44px;
  padding: 22px 80px 66px 80px;
  text-align: center;
}

.hero-container img{
    width:50%;
}
.row{
  min-width: 1000px;
  background: #fff;
  padding: 66px 0 44px 0;
}

.grid {
  margin: 0 auto;
  width: 1000px;
}

.grid, .col-1{
  padding-left: 18px;
  padding-right: 18px;
}
.col-1{
  display: inline-block;
  vertical-align: top;
  width: 29.33%;
}

.teaser a:hover h3 {
  color: #a9b2b9;
}
.teaser img {
  border-radius: 5px;
  display: block;
  margin-bottom: 22px;
  max-width: 100%
}
/*-----------------------------
RESERVATION PAGE
-------------------------------*/
.leading-title{
    font-family:cursive;
    text-align:center;
}   

.tag-title{
    font-family:monospace;    
    font-size:16px;
    text-align:center;
}

/*reservation form section*/
#reservation-form-container{
    margin:100px;
}
/*actual reservation form*/
#reservation-form{
    padding:25px;
}

/*class for first and last names*/
.col-6-1{
    width:100%;
    display:flex;
}

/*containers for all inputs*/
.input-block{
    background-color: rgba(255, 255, 255, 0.8);
    border: solid 1px #000;
    width: 100%;
    padding: 20px;
    position: relative;
    margin: 10px;
}

label{
    position: absolute;
    left: 25px;
    top: 25px;
    display: block;
    margin: 0;
    font-weight: 300;
    z-index: 1;
    color: #333;
    font-size: 18px;
    line-height: 10px;
}

/*Styled inputs*/
.input{
    background-color: transparent;
    padding: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    height: auto;
    position: relative;
    z-index: 2;
    font-size: 18px;
    color: #333;
}

/*class for room block and amount block*/
.col-12{
    width:100%;
    display:flex;
}

/*room container*/
.room-block{
    width:80%;
    margin:10px;
}
/*style for select options*/
.select{
    width:100%;
    border: solid 1px #000;
    border-radius: 1px;
    padding:10px;
}
.amount-block{
    width:15%;
    margin:10px;
}
/*amount input*/
.amount{
        width:100%;
    border: solid 1px #000;
    border-radius: 1px;
    padding:10px;
}
#payment-title{
    text-align:center;
}
/*payment option*/
.payment-options{
    padding:25px;
    margin:10px;
}

.payment-items{
    display:inline-table;
    width:24.7%;
    text-align: center;
}

#m-pesa{
    
}
#airtel{}
#master-card{}
#visa{}

/*submit button container*/
.submit-btn-container{
    text-align: center;
}
/*submit button*/
.submit{
    text-align: center;
    background-color: #008080;
    color: #FFF;
    font-size: 120%;
    height: 80px;
    width:30%;
    box-shadow: 0 5px rgba(199, 138, 138, 0.5);
}

/*---------------------------
GALLERY PAGE
----------------------------*/

/*--------------------------
OFFERS
--------------------------*/
#offer-section{
    margin:30px;
}

#intro-container{
    text-align: center;
    margin:50px;
}

#intro-container h1{
    font-family: Montserrat,cursive;
}

#tag{
    text-align:center;
    font-family:Lora,cursive;
}

#deals-offered{
    display:block;    
}

#wedding-offer, #rooms-offer{
    display:flex;
    padding:25px;
}

.col-6-offer{
    display:inline-block;
    width:50%;
}

.col-6-offer img{
    width:50%;
    height: 50%;
}

.img-on-deals{
    text-align: center;
}

#wedding-title{
    font-family: Alegreya, sans-serif;
    font-weight: 800;
    line-height: 25px;
}

.txt-on-deals{
    padding:25px;
}
#wedding-txt{
    font-family:Cormorant;
}
/*======================
FOOTER
======================*/
/*bottom footer*/
.bottom-footer{
    padding:10px;
    border-top:groove;
}

.bottom-footer small{
    padding:10px;
    display: inline-block;
}

.bottom-nav{
    float:right;
    padding:20px;
}

/*top social container footer*/
.social-container{
    text-align:center;
    padding:20px;
    border-top:groove;
}

.creator-container{
    text-align:center;
    font-family: cursive;
    font-size: 0.85em;
    border-top:groove;
}


.icon-food{
    width:1em;
    height:1em;
}
